<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>lim signup</title>
</head>
<body>

<div class="container">

    <div class="content">

        <h1 class="title is-1"><span class="mdi mdi-login-variant"></span>signup</h1>
        <% if (message.length > 0) { %>
            <div class="box has-text-danger"><%= message %></div>
        <% } %>
        <div id="status"></div>


        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">Email</label>
                    <input class="input" name="username" required="required">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label>Password</label>
                    <input type="password" class="input" name="password" required="required" type="password" autocomplete="password_login">
                </div>
            </div>
            <button type="submit" class="button is-primary is-fullwidth">SIGN UP</button>
        </form>

    </div>
</div>
</body>
</html>