$primary: #fbc02d
$secondary: #00bfa5
$tertiary: #ff5722
$highlight: #03A9F4
$link: #2196F3
$font: #575757
$code: #1d50f9

$primary-light: lighten($primary, 10)
$primary-dark: darken($primary, 20)
$secondary-light: lighten($secondary, 10)
$secondary-dark: darken($secondary, 10)
$tertiary-light: lighten($tertiary, 20)
$tertiary-dark: darken($tertiary, 20)
$highlight-light: lighten($highlight, 20)
$highlight-dark: darken($highlight, 30%)
$link-light: lighten($link, 20)
$font-light: lighten($font, 10)
$font-very-light: lighten($font, 50)
$font-dark: darken($font, 30)

$h1-fontsize: 3.6rem !default
$h2-fontsize: 3.1rem !default
$h3-fontsize: 2.4rem !default
$h4-fontsize: 2rem !default
$h5-fontsize: 1.4rem !default
$h6-fontsize: 1.2rem !default

$heading-font: 'Crimson Text', serif
$body-font: 'Nunito Sans', sans-serif

@import "reset"
@import "typography"
@import "blog"
@import "button"

span.remote
    font-family: $heading-font

mark.divider
    font-size: 2.1rem
    font-family: $body-font
    width: 100%
    background-color: transparent
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    color: lighten($tertiary, 20) !important
    margin-top: 25px
    transform: scaleX(1.4) rotate(5deg)
    @media (min-width: 520px) and (max-width: 1080px)
        font-size: 1.6em
    @media (min-width: 0px) and (max-width: 520px)
        margin-top: 30px
        height: 60px



